{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="vw-100">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col">
          <h3>{{ patient.name }} {{ patient.surname }}</h3>
          <p>PESEL: {{ patient.pesel }}</p>
          <p>KS GŁ: {{ patient.nr_in_main_book }}, KS ODD: {{ patient.nr_in_ward_book }}</p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h1>KARTA GORĄCZKOWA ogólna</h1>
    </div>
    <div class="col">
    </div>
  </div>

  <table class="table table-bordered table-hover table-sm font-weight-lighter">
  <thead class="font-weight-lighter">
    <tr>
      <th scope="col" colspan="2" class="font-weight-lighter">Data</th>
      {% for day in days %}
        <td colspan="2" class="font-weight-lighter">{{ day }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2" class="font-weight-lighter">Dyżur</th>
      {% for shift in shifts %}
        <td class="font-weight-lighter">{{ shift }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:diets' patient.pk %}">Dieta</a></th>
      {% for diet in diets %}
        <td class="font-weight-lighter">{{ diet }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:faeceses' patient.pk %}">Stolec</a></th>
      {% for faeces in faeceses %}
        <td class="font-weight-lighter">{{ faeces }}</td>
      {% endfor %}
    </tr>

  </tbody>
</table>
<div class="row">
  <div class="col-3">
    <p>Badania bieżącego dyżuru</p>
    {% if examination_has_to_be_made %}
      <a class="btn btn-outline-danger" href="{% url 'examinations:create' patient.pk %}" role="button">Badania trzeba zrobić</a>
    {% else %}
      <p>Zrobione</p>
    {% endif %}
  </div>
  <div class="col-5">
    <p>Dodatkowe badania</p>
    <a class="btn btn-outline-secondary" href="{% url 'examinations:create-additional-temperature' patient.pk %}" role="button">Temperatura</a>
    <a class="btn btn-outline-secondary" href="{% url 'examinations:create-additional-pulse' patient.pk %}" role="button">Puls</a>
    <a class="btn btn-outline-secondary" href="{% url 'examinations:create-additional-pressure' patient.pk %}" role="button">Ciśnienie</a>
    <a class="btn btn-outline-secondary" href="{% url 'examinations:create-additional-diet' patient.pk %}" role="button">Dieta</a>
    <a class="btn btn-outline-secondary" href="{% url 'examinations:create-additional-faeces' patient.pk %}" role="button">Stolec</a>
  </div>
  <div class="col-3">
    <p>Opcje</p>
    <a class="btn btn-outline-secondary" href="{% url 'patients:write_pdf_view' %}" role="button">Drukuj</a>
  </div>
</div>
<br><br>
<div class="container" style="width: 90%";>
  <canvas id="temperatureChart"></canvas>
</div>
<br><br>
<div class="container" style="width: 90%";>
  <canvas id="pulseChart"></canvas>
</div>
<br><br>
<div class="container" style="width: 90%";>
  <canvas id="pressureChart"></canvas>
</div>

<br><br>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>

<script>
  var ctx = document.getElementById('temperatureChart').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'line',
  data: {
      datasets: [{
          label: 'Temperatura',
          data: [
            {% for temp in temps %}
            {
              x: new Date({{ temp.made_on|date:"Y, m, d, H, i" }}),
              y: {{ temp.temperature }}
            },
            {% endfor %}
          ],
          fill: true,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 120, 1)',
          ],
          borderWidth: 1,
          lineTension: 0.1,
      },
    ]
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:false,
                  min: 34,
                  max: 43,
              }
          }],
          xAxes: [{
              type: 'time',
              time: {
                  parser: 'MM/DD/YYYY HH:mm',
                  tooltipFormat: 'll HH:mm',
                  unit: 'day',
                  unitStepSize: 1,
                  format: 'MM/DD/YYYY HH:mm',
                  displayFormats: {
                      'day': 'DD/M'
                  },
              }
          }]
      }
  }
});
</script>
<script>
var ctx = document.getElementById('pulseChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'line',
data: {
    datasets: [{
        label: 'Puls',
        data: [
          {% for pulse in pulses %}
          {
            x: new Date({{ pulse.made_on|date:"Y, m, d, H, i" }}),
            y: {{ pulse.pulse }}
          },
          {% endfor %}
        ],

        fill: true,
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)',
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)',
        ],
        borderWidth: 1,
        lineTension: 0.1,
    },
  ]
},
options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:false,
                min: 35,
                max: 155,
            }
        }],
        xAxes: [{
            type: 'time',
            time: {
                parser: 'MM/DD/YYYY HH:mm',
                tooltipFormat: 'll HH:mm',
                unit: 'day',
                unitStepSize: 1,
                format: 'MM/DD/YYYY HH:mm',
                displayFormats: {
                    'day': 'DD/M'
                },
            }
        }]
    }
}
});
</script>
<script>
  var ctx = document.getElementById('pressureChart').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [
      {
        label: 'Skurczowe',
        data: [
          {% for systole in systoles %}
          {
            x: new Date({{ systole.made_on|date:"Y, m, d, H, i" }}),
            y: {{ systole.systole }}
          },
          {% endfor %}
        ],
        fill: -1,
        backgroundColor: [
          'rgba(0, 200, 0, 0.3)',
        ],
        borderColor: [
          'rgba(0, 200, 0, 1)',
        ],
        borderWidth: 1,
        lineTension: 0.1,
      },
      {
        label: 'Rozkurczowe',
        data: [
          {% for diastole in diastoles %}
          {
            x: new Date({{ diastole.made_on|date:"Y, m, d, H, i" }}),
            y: {{ diastole.diastole }}
          },
          {% endfor %}
        ],
        fill: 0,
        backgroundColor: [
          'rgba(0, 100, 0, 0.3)',
        ],
        borderColor: [
          'rgba(0, 100, 0, 1)',
        ],
        borderWidth: 1,
        lineTension: 0.1,
      },
  ],

  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:false,
                  min: 40,
                  max: 200,
              }
          }],
          xAxes: [{
              type: 'time',
              time: {
                  parser: 'MM/DD/YYYY HH:mm',
                  tooltipFormat: 'll HH:mm',
                  unit: 'day',
                  unitStepSize: 1,
                  format: 'MM/DD/YYYY HH:mm',
                  displayFormats: {
                      'day': 'DD/M'
                  },
              }
          }]
      },
      plugins: {
          filler: {
              propagate: false
          }
      },
  }
});
</script>
{% endblock content %}
