{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="vw-100">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>{{ patient.name }} {{ patient.surname }}</h3>
          <p>PESEL: {{ patient.pesel }}</p>
          <p>KS GŁ: {{ patient.nr_in_main_book }}, KS ODD: {{ patient.nr_in_ward_book }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <h1>KARTA GORĄCZKOWA ogólna</h1>
    </div>
    <div class="col">
    </div>
  </div>

  <table class="table table-bordered table-hover table-sm font-weight-lighter">
  <thead class="font-weight-lighter">
    <tr>
      <th scope="col" colspan="2" class="font-weight-lighter">Data</th>
      {% for day in days %}
        <td colspan="2" class="font-weight-lighter">{{ day }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2" class="font-weight-lighter">Dyżur</th>
      {% for shift in shifts %}
        <td class="font-weight-lighter">{{ shift }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:temperatures' patient.pk %}">Ciepło</a></th>
      {% for temp in temps %}
        <td class="font-weight-lighter">{{ temp }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:pulses' patient.pk %}">Tętno</a></th>
      {% for pulse in pulses %}
        <td class="font-weight-lighter">{{ pulse }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:pressures' patient.pk %}">Ciśnienie</a></th>
      {% for pressure in pressures %}
        <td class="font-weight-lighter">{{ pressure }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:diets' patient.pk %}">Dieta</a></th>
      {% for diet in diets %}
        <td class="font-weight-lighter">{{ diet }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" colspan="2"><a href="{% url 'examinations:faeceses' patient.pk %}">Stolec</a></th>
      {% for faeces in faeceses %}
        <td class="font-weight-lighter">{{ faeces }}</td>
      {% endfor %}
    </tr>

  </tbody>
</table>
{% if examination_has_to_be_made %}
  <a class="btn btn-lg btn-outline-danger" href="{% url 'examinations:create' patient.pk %}" role="button">Badania trzeba zrobić</a>
{% else %}
  <p>Badania z bieżącego dyżuru zrobione</p>
{% endif %}
<p>Dodatkowe badania:</p>
<a class="btn btn-outline-success" href="{% url 'examinations:create-additional-temperature' patient.pk %}" role="button">Temperatura</a>
<a class="btn btn-outline-success" href="{% url 'examinations:create-additional-pulse' patient.pk %}" role="button">Puls</a>
<a class="btn btn-outline-success" href="{% url 'examinations:create-additional-pressure' patient.pk %}" role="button">Ciśnienie</a>
<a class="btn btn-outline-success" href="{% url 'examinations:create-additional-diet' patient.pk %}" role="button">Dieta</a>
<a class="btn btn-outline-success" href="{% url 'examinations:create-additional-temperature' patient.pk %}" role="button">Stolec</a>
<a class="btn btn-outline-success" href="{% url 'patients:write_pdf_view' %}" role="button">Drukuj</a>
</div>
<br><br>

{% endblock content %}
