{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="vw-100">
  <h1>{{ patient.name }} {{ patient.surname }}</h1>
  <h2>KGO</h2>
  <table class="table table-bordered table-hover table-sm font-weight-lighter">
  <thead class="font-weight-lighter">
    <tr>
      <th scope="col" colspan="2" class="font-weight-lighter">Data</th>
    </tr>
  </thead>
  <thead>
    <tr class="font-weight-lighter">
      <th scope="col" class="font-weight-lighter">Tętno</th>
      <th scope="col">Ciepło</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
      <th scope="col">R</th>
      <th scope="col">W</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>37</td>
      <td>37</td>
      <td>38</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>37</td>
      <td>38</td>
      <td>36</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>37</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-outline-success" href="#" role="button">Drukuj</a>
</div>
<br><br>
{% endblock content %}
