{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="vw-100">
  <div class="container">
  <h1>{{ patient.name }} {{ patient.surname }}</h1>

    <h3>Dużur {{ shift_name }}</h3>
    <br><br>
    <div class="row">
      <div class="col">
        <h5>Badania do zrobienia</h5>
        <br><br>
        {% if temperature_form %}
          <form action="" method="post" class="col-5">
            {{ temperature_form|crispy }}
            {% csrf_token %}
            {{ pulse_form|crispy }}
            {% csrf_token %}
            {{ pressure_form|crispy }}
            {% csrf_token %}
            {{ faeces_form|crispy }}
            {% csrf_token %}
            {{ diet_form|crispy }}
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Zapisz wyniki">
          </form>
          <br><br>
        {% endif %}
      </div>
      <div class="col">
        <h5>Badania dodatkowe</h5>

        <a class="btn btn-outline-secondary" href="{% url 'examinations:additional-temperature' patient.pk %}" role="button">Temperatura</a>

        <a class="btn btn-outline-secondary" href="{% url 'examinations:additional-pulse' patient.pk %}" role="button">Tętno</a>

        <a class="btn btn-outline-secondary" href="{% url 'examinations:additional-pressure' patient.pk %}" role="button">Ciśnienie</a>

        <a class="btn btn-outline-secondary" href="{% url 'examinations:additional-faeces' patient.pk %}" role="button">Stolec</a>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}
